.ClassNode {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.ClassNode .line {
  background-color: #333;
  position: relative;
  left: -5px;
  width: calc(100% + 10px);
  height: 1px;
  margin: 5px 0;
}
.ClassNode .name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ClassNode .name p {
  font-size: 0.8rem;
}
.ClassNode .name .data-name {
  font-size: 1.1rem;
  font-weight: bold;
}
.ClassNode .method {
  display: flex;
  flex-direction: row;
}
#FlowProvider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#Sidebar-left {
  padding: 16px;
  width: 15%;
  height: 100%;
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#Sidebar-left .ClassNode {
  width: 80px;
  height: 50px;
}
#ReactFlow {
  width: 70%;
  height: 100%;
}
#Sidebar-right {
  padding: 16px;
  width: 15%;
  height: 100%;
  background-color: #F4F4F4;
}